.Editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Editor-Body {
    flex: 3;
    border-bottom: 1px solid #EEEEEE;
}
.Editor-IDE {
    border-bottom: 1px solid #EEEEEE;
}
.Editor-Actions {
    flex: 2;
}