.Editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Editor-Body {
    position: relative;
    flex: 1;
    border-bottom: 1px solid #EEEEEE;
    overflow-y: scroll;
}
.Editor-IDE {
    flex: 4;
}
.Editor-Body-Heading {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.Editor-Body-Para {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 645px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    line-height: 1.35;
}
.blue {
    font-weight: bold;
    color: #2026D2;
}
.red {
    font-weight: bold;
    color: #d22020;
}

@media (max-width: 450px) {
    .Editor-Body {
        flex: 2;
    }
    .Editor-IDE {
        flex: 5;
    }
    .Editor-Body-Para {
        width: calc(100% - 40px);
    }
}