.Editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Editor-Body {
    position: relative;
    height: calc(30% - 80px);
    border-bottom: 1px solid #EEEEEE;
}
.Editor-Body-Heading {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.Editor-Body-Para {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 645px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.Editor-IDE {
    border-bottom: 1px solid #EEEEEE;
    height: 70%
}
.Editor-Actions {
    display: flex;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
}
.Editor-Actions-Btn {
    font-weight: 600;
    height: 2.75rem !important;
    text-shadow: none !important;
    color: #ffffff !important;
    background-color:  #2026d2;
    border: none !important;
    border-radius: .35rem;
    padding: 0.625rem 1.25rem !important;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.Share-Btn {
    background-color: #6064EC;
}