.CodeMirror {
    border-radius: 0px !important;
}
.CodeMirror-scroll {
    min-height: 450px;
    max-height: 450px;
}
.CodeMirror-linenumbers {
    width: 40px;
    background-color: white;
}
.CodeMirror-linenumber {
    text-align: center !important;
    color: black !important;
}
.CodeMirror-gutters {
    background-color: transparent;
    border: none !important;
}