.IDE {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.CodeMirror-scroll {
    max-height: 450px !important;
    min-height: 450px !important;
}
.Editor-Actions {
    border-top: 1px solid #EEEEEE;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Editor-Actions-Btn {
    font-weight: 600;
    height: 2.75rem;
    text-shadow: none;
    color: #ffffff;
    background-color:  #2026d2;
    border: none;
    border-radius: .35rem;
    padding: 0.625rem 1.25rem;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.CodeMirror-linenumbers {
    width: 40px;
    background-color: white;
}
.CodeMirror-linenumber {
    text-align: center !important;
    color: rgb(45, 45, 45) !important;
}
.CodeMirror-gutters {
    background-color: transparent;
    border: none !important;
}
.Editor-Actions-Btn a {
    text-decoration: none;
    color: white;
}
.Editor-Actions-Btn:disabled {
    background-color: #6064EC;
}