.Navbar {
    height: 75px;
    width: calc(100% - 170px);
    padding: 0 85px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.Navbar-nav {
    display: flex;
    justify-content: space-between;
}
.Navbar-brand {
    height: 75px;
    width: 150px;
    display: flex;
    align-items: center;
}
.Navbar-logo {
    width: 80px;
    height: 25px;
}
.nav {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-item {
    color: #555459;
    font-size: .92rem !important;
    font-weight: 600;
    margin-left: 35px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
.nav-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #555459;
}
.nav-link:hover {
    color: #2026D2;
}
.active-nav-link {
    color: #2026D2;
}
.nav-link-logout:hover {
    color: #d22020;
}

@media (max-width: 450px) {
    .Navbar {
        width: calc(100% - 30px);
        padding: 0 15px;
    }
    .Navbar-brand {
        width: 80px;
    }
    .nav-item {
        font-size: .975rem !important;
        margin-left: 20px;
    }
}