.SqlEditor {
  height: calc(100vh - 75px);
  width: 100%;
  padding-top: 75px;
  display: flex;
}
.SqlEditor-editor, .SqlEditor-output {
  flex: 1;
  width: 100%;
}
.SqlEditor-editor {
  padding-left: 65px;
}

@media (max-width: 450px) {
  .SqlEditor {
    flex-direction: column;
  }
  .SqlEditor-editor {
    padding-left: 0;
    flex: 2;
  }
}